<div *ngIf="category">
  <div *ngFor="let product of category.product" class="items">
    <div *ngIf="product.img1" class = "product-item">
      <img src="{{product.img1}}" >
    </div>
    <div class="item-info">
      <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
          {{ product.name }}
        </a>
      </h3>
      <h5>Rating: {{product.rating}}</h5>
      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>
      <p>
        <button (click)="increase(product.id)">Like {{product.like}}</button>
      </p>
      <p>
        <button (click)="removeItem(product.id)">Remove</button>
      </p>
      <p class="links">
        <a (click)="share()" target=”_blank” href="https://t.me/share/url?url={{product.link}}}&text={{product.name}}}">Share to Telegram</a>
<!--      </p>-->
<!--      <p>-->
        <a (click)="share()" target="_blank" href="whatsapp://send?text=This is WhatsApp sharing example using link">Share to WhatsApp</a>
      </p>
      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
  </div>
</div>
